#**
 *  Render the top section of the page visible to users
 *#

<div id="head">
  
  <div style="float:left;"><a href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end"><img src="#{url_for_solr}/admin/file?file=/velocity/Logo.png&contentType=image/png" id="logo"/></a></div>
  #parse('query_form.vm')
</div>
